{% extends 'base.html.twig' %}

{% block body %}
    <h1> Review List</h1>
    <ul>
        <li>
            <a href="{{ path('review_new') }}">Create a new review</a>
        </li>
    </ul>
{% endblock %}